Repository RLamousse/DrawingDuel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test client, test server, client coverage, server coverage, client lint, server lint

.gitlab-ci.yml:

# ╔═══════════╗
# ║ Variables ║
# ╚══════════╝
variables:
  CODECOV_TOKEN: "1edf15e3-19b5-420b-a54a-35fac689ef0c"
image: node


# ╔════════╗
# ║ Stages ║
# ╚════════╝

stages:
  - test
  - deep-test

# ╔═════════════╗
# ║ Stage: Test ║
# ╚═════════════╝

# Test job template
.test:
  stage: test
  script: yarn test
  except:
    - merge_requests
    - dev

test client:
  extends: .test
  image: trion/ng-cli-karma
  before_script:
    - cd client
    - npm ci
  only:
    changes:
      - .gitlab-ci.yml
      - client/**/*


test server:
  extends: .test
  before_script:
    - cd server
    - npm ci
  only:
    changes:
      - .gitlab-ci.yml
      - server/**/*

# ╔══════════════════╗
# ║ Stage: deep-test ║
# ╚══════════════════╝

.deep test:
  stage: deep-test

# Coverage job template
.coverage:
  extends: .deep test
  script:
    - yarn coverage
    - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/

client coverage:
  extends: .coverage
  image: trion/ng-cli-karma
  before_script:
    - cd client
    - npm ci
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - .gitlab-ci.yml
      - client/**/*
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
      - client/coverage

server coverage:
  extends: .coverage
  before_script:
    - cd server
    - npm ci
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - .gitlab-ci.yml
      - server/**/*
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
      - server/coverage

# Lint report job template
.lint:
  extends: .deep test
  script: yarn lint

client lint:
  extends: .lint
  before_script:
    - cd client
    - npm ci
  only:
    refs:
      - merge_requests
      - master
    changes:
      - .gitlab-ci.yml
      - client/**/*

server lint:
  extends: .lint
  before_script:
    - cd server
    - npm ci
  only:
    refs:
      - merge_requests
      - master
    changes:
      - .gitlab-ci.yml
      - server/**/*

[ref] rename gameType to onlineType attributes
  client/src/app/diff-counter/diff-counter.component.ts
  common/communication/messages/message.ts
  server/app/controllers/controller-utils.ts
  server/app/controllers/score-table.controller.spec.ts
  server/app/controllers/score-table.controller.ts
  server/app/services/score-table.service.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.spec.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[D] Removed WebsocketMessage's title field
  client/src/app/diff-counter/diff-counter.component.ts
  client/src/app/game-list/game/delete-game-form/delete-game-form.component.ts
  client/src/app/game-list/game/game.component.spec.ts
  client/src/app/game-list/game/game.component.ts
  client/src/app/game-list/game/room.service.spec.ts
  client/src/app/game-list/game/room.service.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
  client/src/app/simple-game/simple-game.service.ts
  client/src/app/socket.service.spec.ts
  client/src/app/username.service.spec.ts
  client/src/app/username.service.ts
  common/communication/messages/message.ts
  server/app/controllers/websocket.controller.ts
  server/app/services/websocket/chat-websocket-action.service.spec.ts
  server/app/services/websocket/chat-websocket-action.service.ts
  server/app/services/websocket/check-user-websocket-action.service.spec.ts
  server/app/services/websocket/check-user-websocket-action.service.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.spec.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[B] Fixed WebSocketMessage in message-box component tests
  client/src/app/message-box/message-box.component.spec.ts
Due: test client, client coverage, client lint

[Dev] Added base API to RoomService [skip-ci]
  client/src/app/game-list/game/room.service.ts
Due: test client, client coverage, client lint

[D] Added socket util methods for rooms and broadcast
  common/communication/socket-events.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
  server/app/util/socket.util.ts
Due: test server, server coverage, server lint

[D] Added READY system
  server/app/model/room/game-room.ts
  server/app/services/websocket/rooms/abstract-game-room.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[B] Fixed simple game room tests
  server/app/services/websocket/rooms/simple-game-room.spec.ts
Due: test server, server coverage, server lint

[UI] username max lenght change and default username change to fit
  client/src/app/game-list/game-list.component.css
  client/src/app/game-list/game-list.component.html
  client/src/app/game-list/game/game.component.css
  client/src/app/game-list/game/game.component.html
  client/src/app/initial-view/initial-view.component.html
  server/app/services/service-utils.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[D] Implemented kick in hotel room service
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[Dev] Refactored ChatMessagePlayerCount name to PlayerCountMessage [skip-ci]
  client/src/app/game-list/game/game.component.ts
  client/src/app/game-list/game/room.service.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
  common/communication/messages/message.ts
  server/app/services/websocket/chat-websocket-action.service.spec.ts
  server/app/services/websocket/chat-websocket-action.service.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.spec.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[UI] some padding and font change
  client/src/app/game-list/game-list.component.css
  client/src/app/vue-admin/vue-admin.component.css
  server/app/services/service-utils.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[B] fixed bug where camera was rotating around a plan, movement laggy
  client/src/app/scene-creator/render-update.service.ts
Due: test client, client coverage, client lint

[D] improved collision service, no more clipping possible
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
  client/src/app/scene-creator/scene-creator.component.ts
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[D]change collision method, now working with raycasts
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[ref] changed all isSimple boolean to gameType enum
  client/src/app/await-view/await-view.component.ts
  client/src/app/diff-counter/diff-counter.component.ts
  client/src/app/game-list/game-list.component.html
  client/src/app/game-list/game-list.component.ts
  client/src/app/game-list/game/delete-game-form/delete-game-form.component.ts
  client/src/app/game-list/game/game.component.html
  client/src/app/game-list/game/game.component.ts
  client/src/app/play-view/play-view.component.html
  client/src/app/play-view/play-view.component.spec.ts
  client/src/app/play-view/play-view.component.ts
  client/src/app/scene-creator/scene-creator.component.html
  client/src/app/timer/timer.component.html
  client/src/app/timer/timer.component.ts
  common/dialog-data-interface/IDialogData.ts
  common/model/game/game.ts
  server/app/services/score-table.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[Dev] Fixed _sockets initialisation in hotel-room-service
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[dev] added update functions in the game manager
  server/app/controllers/game-manager.controller.ts
Due: test server, server coverage, server lint

[T] Initial hotel room service tests (fetch + sockets)
  server/app/services/db/free-games.collection.service.spec.ts
  server/app/services/db/simple-games.collection.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/simple-game-room.spec.ts
  server/package-lock.json
  server/package.json
Due: test server, server coverage, server lint

[UI] simple game UI refactor finished
  client/src/app/diff-counter/diff-counter.component.css
  client/src/app/message-box/message-box.component.css
  client/src/app/play-view/play-view.component.css
  client/src/app/play-view/play-view.component.html
  client/src/app/simple-game/simple-game-canvas/simple-game-canvas.component.css
  client/src/app/simple-game/simple-game-container/simple-game-container.component.css
  client/src/app/vue-admin/vue-admin.component.css
  client/src/app/vue-admin/vue-admin.component.html
Due: test client, client coverage, client lint

[D] collision detection now on point
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
Due: test client, client coverage, client lint

[T] Added basic room creation tests
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
Due: test server, server coverage, server lint

[B]fixed bug where caemra rotation was slightly off center of the camera center
  client/src/app/scene-creator/game-3D-controls/game-3D-controls.directive.ts
  client/src/app/scene-creator/render-update.service.ts
Due: test client, client coverage, client lint

[Dev] Implemented create/join buttons [skip-ci]
  client/package-lock.json
  client/src/app/game-list/game/game.component.ts
  client/src/app/game-list/game/room.service.ts
Due: test client, client coverage, client lint

[B]fixed test, now all passing according to new Rotation
  client/src/app/scene-creator/objectCollisionService/object-collision.service.spec.ts
  client/src/app/scene-creator/render-update.service.spec.ts
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[T]added test to check if cancelVel is not called
  client/src/app/scene-creator/objectCollisionService/object-collision.service.spec.ts
Due: test client, client coverage, client lint

[T]added test for cancelVelocity, change the x or z sign value
  client/src/app/scene-creator/objectCollisionService/object-collision.service.spec.ts
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
Due: test client, client coverage, client lint

[T]added test for z value for cancelVelocity, 100 coverage
  client/src/app/scene-creator/objectCollisionService/object-collision.service.spec.ts
Due: test client, client coverage, client lint

[T] Completed room creation tests
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[T] Added room check in tests
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[ref] throw error from object instead of string
  client/src/app/scene-creator/scene-creator.component.ts
  common/errors/services.errors.ts
Due: test client, client coverage, client lint

[fix] added exit to simple-game-creator-form
  client/src/app/simple-game-creator-form/simple-game-creator-form.component.ts
  client/src/assets/images/loadingScreen.gif
Due: test client, client coverage, client lint

[fix] added exit create3-dgame
  client/src/app/create3-dgame/create3-dgame.component.ts
Due: test client, client coverage, client lint

[dev] added loading screen to game-list
  client/src/app/game-list/game-list.component.css
  client/src/app/game-list/game-list.component.html
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[fix] added everything to onInit in scene-creator
  client/src/app/scene-creator/scene-creator.component.ts
Due: test client, client coverage, client lint

[fix] took out the async in pushFreeGames
  client/src/app/game.service.ts
Due: test client, client coverage, client lint

[tslint] lint fix
  client/src/app/diff-counter/diff-counter.component.ts
Due: test client, client coverage, client lint

[fix] fix free game score update
  server/app/services/score-table.service.ts
Due: test server, server coverage, server lint

[QA] removed unused string
  server/app/controllers/controller-utils.ts
Due: test server, server coverage, server lint

[ref] removed HTTP client
  client/src/app/create3-dgame/create3-dgame.component.spec.ts
  client/src/app/form-post.service.spec.ts
  client/src/app/form-post.service.ts
  client/src/app/game-list/game-list.component.spec.ts
  client/src/app/game.service.ts
  client/src/app/scene-creator/scene-creator.component.html
  client/src/app/scene-creator/scene-creator.component.ts
  client/src/app/simple-game-creator-form/simple-game-creator-form.component.spec.ts
Due: test client, client coverage, client lint

[fix] removed duplicate line
  server/app/services/score-table.service.ts
Due: test server, server coverage, server lint
