Repository RLamousse/DrawingDuel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test client, test server, client coverage, server coverage, client lint, server lint

.gitlab-ci.yml:

# ╔═══════════╗
# ║ Variables ║
# ╚══════════╝
variables:
  CODECOV_TOKEN: "1edf15e3-19b5-420b-a54a-35fac689ef0c"
image: node


# ╔════════╗
# ║ Stages ║
# ╚════════╝

stages:
  - test
  - deep-test

# ╔═════════════╗
# ║ Stage: Test ║
# ╚═════════════╝

# Test job template
.test:
  stage: test
  script: yarn test
  except:
    - merge_requests
    - dev

test client:
  extends: .test
  image: trion/ng-cli-karma
  before_script:
    - cd client
    - npm ci
  only:
    changes:
      - .gitlab-ci.yml
      - client/**/*


test server:
  extends: .test
  before_script:
    - cd server
    - npm ci
  only:
    changes:
      - .gitlab-ci.yml
      - server/**/*

# ╔══════════════════╗
# ║ Stage: deep-test ║
# ╚══════════════════╝

.deep test:
  stage: deep-test

# Coverage job template
.coverage:
  extends: .deep test
  script:
    - yarn coverage
    - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/

client coverage:
  extends: .coverage
  image: trion/ng-cli-karma
  before_script:
    - cd client
    - npm ci
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - .gitlab-ci.yml
      - client/**/*
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
      - client/coverage

server coverage:
  extends: .coverage
  before_script:
    - cd server
    - npm ci
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - .gitlab-ci.yml
      - server/**/*
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
      - server/coverage

# Lint report job template
.lint:
  extends: .deep test
  script: yarn lint

client lint:
  extends: .lint
  before_script:
    - cd client
    - npm ci
  only:
    refs:
      - merge_requests
      - master
    changes:
      - .gitlab-ci.yml
      - client/**/*

server lint:
  extends: .lint
  before_script:
    - cd server
    - npm ci
  only:
    refs:
      - merge_requests
      - master
    changes:
      - .gitlab-ci.yml
      - server/**/*

[UI] play view freeGame
  client/src/app/scene-creator/scene-creator.component.css
  client/src/app/scene-creator/scene-creator.component.html
Due: test client, client coverage, client lint

[T] Added on-ready tests
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[D]made magic number/string to const inside SkyBox creation
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.ts
Due: test client, client coverage, client lint

[fix] game service no longer needs catch
  client/src/app/game.service.spec.ts
Due: test client, client coverage, client lint

[dev] added fucntion to convert the time to replace . to :
  client/src/app/game-list/game/game.component.ts
Due: test client, client coverage, client lint

[dev] add call convert for time
  client/src/app/game-list/game/game.component.html
Due: test client, client coverage, client lint

[test] added test for convert time fonction
  client/src/app/game-list/game/game.component.spec.ts
Due: test client, client coverage, client lint

[D]added function create invisible skyBox for geometric scene
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.ts
Due: test client, client coverage, client lint

[D]removec duplicated code, npw using private readonly attribute
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.ts
Due: test client, client coverage, client lint

[T] Added leave/disconnect tests
  server/app/services/websocket/rooms/abstract-game-room.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
Due: test server, server coverage, server lint

[Dev] Added RadioTowerService replacing broadcasting methods [skip-ci]
  client/src/app/game-list/game/game.component.ts
  client/src/app/vue-admin/vue-admin.component.ts
  server/app/controllers/websocket.controller.spec.ts
  server/app/controllers/websocket.controller.ts
  server/app/inversify.config.ts
  server/app/server.ts
  server/app/services/websocket/radio-tower.service.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
  server/app/types.ts
  server/package-lock.json
Due: test client, test server, client coverage, server coverage, client lint, server lint

[Test] fix port on linux
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
Due: test server, server coverage, server lint

[UI] soon finished free game view
  client/src/app/message-box/message-box.component.css
  client/src/app/play-view/play-view.component.css
  client/src/app/play-view/play-view.component.html
  client/src/app/scene-creator/scene-creator.component.css
  client/src/app/scene-creator/scene-creator.component.html
Due: test client, client coverage, client lint

[ref] speeding up requests of gameList
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[T] Removed testSocketCall overhead and added interaction tests
  common/communication/messages/message.ts
  common/model/rooms/interaction.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[T] Fixed on ready test
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/simple-game-room.spec.ts
Due: test server, server coverage, server lint

[QA] Linted tests
  server/app/controllers/websocket.controller.spec.ts
  server/app/services/websocket/chat-websocket-action.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/simple-game-room.spec.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.spec.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.ts
Due: test server, server coverage, server lint

[QA] Stylish [skip-ci]
  client/src/app/game.service.ts
Due: test client, client coverage, client lint

[T]added test to check if private function are called (each type of scene)
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.spec.ts
Due: test client, client coverage, client lint

[T]added test for setTexture and traverseChilldren
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.spec.ts
Due: test client, client coverage, client lint

[T] added test for buildObjectPath
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.spec.ts
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.ts
Due: test client, client coverage, client lint

[T]finished test for freeGameCreatorService, coverage 100
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.spec.ts
Due: test client, client coverage, client lint

[Dev] Implemented unsubscribe to roomfetch in roomservice
  client/src/app/game-list/game/game.component.ts
  client/src/app/game-list/game/room.service.ts
Due: test client, client coverage, client lint

[T]added mockSerice to renderService test for collision service
  client/src/app/scene-creator/scene-renderer.service.spec.ts
Due: test client, client coverage, client lint

[T]added missing test for isColisioninside collision service, cov 100
  client/src/app/scene-creator/objectCollisionService/object-collision.service.spec.ts
Due: test client, client coverage, client lint

[Lint]removec useless AfterViewInit implementation
  client/src/app/scene-creator/scene-creator.component.ts
Due: test client, client coverage, client lint

[B]removec useless import
  client/src/app/scene-creator/scene-creator.component.ts
Due: test client, client coverage, client lint

[QA] Run coverage everytime
  .gitlab-ci.yml
Due: test client, test server, client coverage, server coverage, client lint, server lint

[fix] added real observers
  client/src/app/game-list/game-list.component.spec.ts
Due: test client, client coverage, client lint

[ref] mocked gameSerice functions
  client/src/app/game-list/game-list.component.spec.ts
Due: test client, client coverage, client lint

[QA] fix lint errors
  client/src/app/game-list/game-list.component.spec.ts
Due: test client, client coverage, client lint

[UI] chat adpatation free and simple game
  client/src/app/message-box/message-box.component.css
  client/src/app/play-view/play-view.component.css
  client/src/app/scene-creator/scene-creator.component.css
  client/src/app/scene-creator/scene-creator.component.html
Due: test client, client coverage, client lint

[test+lint] test and lint are ok + background change
  client/src/app/app.module.ts
  client/src/app/game-list/game/game.component.spec.ts
  client/src/app/initial-view/initial-view.component.css
  client/src/app/initial-view/initial-view.component.html
  client/src/app/initial-view/initial-view.component.spec.ts
  client/src/app/initial-view/initial-view.component.ts
  client/src/app/vue-admin/vue-admin.component.spec.ts
  client/src/assets/images/logo.PNG
  common/communication/routes.ts
Due: test client, client coverage, client lint

[UI+test] 100% coverage initial view + button background change
  client/src/app/initial-view/initial-view.component.css
  client/src/app/initial-view/initial-view.component.html
  client/src/app/initial-view/initial-view.component.spec.ts
  client/src/app/initial-view/initial-view.component.ts
Due: test client, client coverage, client lint

[dev] removing magic strings
  client/src/app/initial-view/initial-view.component.ts
Due: test client, client coverage, client lint

[other] Moved room service to client/../app
  client/src/app/room.service.spec.ts
  client/src/app/room.service.ts
Due: test client, client coverage, client lint

[Dev] Temporary look for awaut-view
  client/src/app/await-view/await-view.component.css
  client/src/app/await-view/await-view.component.html
Due: test client, client coverage, client lint

[Test] Added tests to await-view
  client/src/app/await-view/await-view.component.spec.ts
Due: test client, client coverage, client lint

[Dev] Added room waiting mechanism in await-view
  client/src/app/await-view/await-view.component.ts
Due: test client, client coverage, client lint
