Repository RLamousse/DrawingDuel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test client, test server, client coverage, server coverage, client lint, server lint

test client:
  stage: test
  script: yarn test
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci

test server:
  stage: test
  script: yarn test
  before_script:
  - cd server
  - npm ci

client coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - client/coverage

server coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  before_script:
  - cd server
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - server/coverage

client lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd client
  - npm ci

server lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd server
  - npm ci

[UX] error message color change initial view + changing waiting screen for game list
  client/src/app/game-list/game-list.component.html
  client/src/app/initial-view/initial-view.component.css
  client/src/app/initial-view/initial-view.component.html
  client/src/assets/images/loading_no_bkg.gif
Due: test client, client coverage, client lint

[UX] new loading for gamelist with no background
  client/src/assets/images/loading_no_bkg.gif
Due: test client, client coverage, client lint

[lint] all files pass linting + transparent bkg
  client/src/app/game-list/game-list.component.html
  client/src/app/game-list/game/game.component.ts
  client/src/assets/images/loading_no_bkg2.gif
Due: test client, client coverage, client lint

[QA] adding loading background to routes
  client/src/app/game-list/game/game.component.ts
  common/communication/routes.ts
Due: test client, client coverage, client lint

[D] Implemented free game rooms
  client/src/app/scene-creator/scene-creator.component.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  common/model/game/game-state.ts
  common/model/rooms/interaction.ts
  server/app/services/websocket/rooms/free-game-room.ts
  server/app/services/websocket/rooms/simple-game-room.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[T] Tested free game rooms
  server/app/services/websocket/rooms/free-game-room.spec.ts
  server/app/services/websocket/rooms/simple-game-room.spec.ts
Due: test server, server coverage, server lint

[QA] Fixed server lint
  server/app/services/websocket/rooms/free-game-room.spec.ts
  server/app/services/websocket/rooms/simple-game-room.spec.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.spec.ts
Due: test server, server coverage, server lint

[Dev] Removed unused imports in scene renderer
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[Dev] Fixed only one event being emitted in the hotelroom.service
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[Dev] Added option to send a message server->client using radio.service
  server/app/services/websocket/radio-tower.service.ts
Due: test server, server coverage, server lint

[Dev] Fixed interact callback to match new implementation
  client/src/app/simple-game/simple-game.service.ts
Due: test client, client coverage, client lint

[Dev]Implemented callback system for interaction with the simple game
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
Due: test client, client coverage, client lint

[Dev]Cleanup of unused imports+re added error print on canvas[skip-ci]
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
Due: test client, client coverage, client lint

[UX] score table css changes
  client/src/app/game-list/game/game.component.css
  client/src/app/game-list/game/game.component.html
  client/src/app/vue-admin/vue-admin.component.html
Due: test client, client coverage, client lint

[UX] Capitalize first letters + color changes
  client/src/app/game-list/game-list.component.css
  client/src/app/game-list/game-list.component.html
  client/src/app/game-list/game-list.component.ts
  client/src/app/game-list/game/game.component.css
  client/src/app/game-list/game/game.component.ts
  client/src/app/vue-admin/vue-admin.component.ts
Due: test client, client coverage, client lint

[Dev] Added room checkout asap when quitting await view
  client/src/app/await-view/await-view.component.ts
Due: test client, client coverage, client lint

[Dev] Changed diff-counter to match the new way diff are counted
  client/src/app/diff-counter/diff-counter.component.ts
Due: test client, client coverage, client lint

[Dev] Removed simplegame service from play-view
  client/src/app/play-view/play-view.component.ts
Due: test client, client coverage, client lint

[Dev]Cleaned up simple-game-container after callback commit
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
Due: test client, client coverage, client lint

[Test] Changed tests on simple-game-service to match new implementation
  client/src/app/simple-game/simple-game.service.spec.ts
Due: test client, client coverage, client lint

[Dev]Cleaned up simple-game.service after callback commit
  client/src/app/simple-game/simple-game.service.ts
Due: test client, client coverage, client lint

[Dev]Removed TODOs (they were done)
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[Test]Updated SimpleGameService test API
  client/src/app/simple-game/simple-game-container/simple-game-container.component.spec.ts
Due: test client, client coverage, client lint

[UX] font changes play view
  client/src/app/diff-counter/diff-counter.component.css
  client/src/app/diff-counter/diff-counter.component.html
  client/src/app/message-box/message-box.component.css
  client/src/app/message-box/message-box.component.html
  client/src/app/play-view/play-view.component.css
  client/src/app/scene-creator/scene-creator.component.css
Due: test client, client coverage, client lint

[QA] deleting useless old logo
  client/src/app/initial-view/logo.png
Due: test client, client coverage, client lint

[Test]Added test file for radio service
  server/app/services/websocket/radio-tower.service.spec.ts
Due: test server, server coverage, server lint

[QA] Fixing import order
  server/app/services/websocket/chat-websocket-action.service.ts
Due: test server, server coverage, server lint

[Test] Redone tests for ChatWebSocketActionService
  server/app/services/websocket/chat-websocket-action.service.spec.ts
Due: test server, server coverage, server lint

[UX] forms update + game list cards now centered
  client/src/app/create3-dgame/create3-dgame.component.html
  client/src/app/game-list/game-list.component.css
  client/src/app/game-list/game-list.component.html
  client/src/app/game-list/game/game.component.css
  client/src/app/simple-game-creator-form/simple-game-creator-form.component.html
Due: test client, client coverage, client lint

[Test] 100% coverage on radio tower service
  server/app/services/websocket/radio-tower.service.spec.ts
Due: test server, server coverage, server lint

[UX] admin game list popup adapted position
  client/src/app/game-list/game-list.component.css
  client/src/app/vue-admin/vue-admin.component.css
  client/src/app/vue-admin/vue-admin.component.html
Due: test client, client coverage, client lint

[UX] change default background image, still need tests
  client/src/app/initial-view/initial-view.component.ts
  client/src/styles.css
Due: test client, client coverage, client lint

[T] Completed Hotel Room Service (DALE!) tests
  server/app/services/websocket/chat-websocket-action.service.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[test] test changeBackground
  client/src/app/initial-view/initial-view.component.spec.ts
Due: test client, client coverage, client lint

[R] deleting comments
  client/src/app/initial-view/initial-view.component.ts
Due: test client, client coverage, client lint

[DevOps] Update .codecov.yml
  .codecov.yml
Due: none

[ref] extracted open dialog function
  client/src/app/await-view/await-view.component.ts
  client/src/app/dialog-utils.ts
  client/src/app/game-list/game/game.component.ts
  client/src/app/vue-admin/vue-admin.component.ts
Due: test client, client coverage, client lint

[Dev]Appropriate unsubscription in diff-counter
  client/src/app/diff-counter/diff-counter.component.ts
Due: test client, client coverage, client lint

[Dev]Revert error in previous commit
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[Dev]Used right interface for the interaction message
  client/src/app/simple-game/simple-game.service.ts
Due: test client, client coverage, client lint

Path conditions:
  test client: any of: .gitlab-ci.yml, client/**/*
  test server: any of: .gitlab-ci.yml, server/**/*
  client coverage: any of: .gitlab-ci.yml, client/**/*
  server coverage: any of: .gitlab-ci.yml, server/**/*
  client lint: any of: .gitlab-ci.yml, client/**/*
  server lint: any of: .gitlab-ci.yml, server/**/*
