Repository RLamousse/DrawingDuel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

.gitlab-ci.yml:

# ╔════════╗
# ║ Stages ║
# ╚════════╝

stages:
  - build
  - test
  - post-test

# ╔══════════════╗
# ║ Stage: Build ║
# ╚══════════════╝

build client:
  stage: build
  tags:
    - angular
  before_script:
    - cd client
    - npm ci
  script:
    - yarn build
  only:
    changes:
      - .gitlab-ci.yml
      - client/**/*

build server:
  stage: build
  tags:
    - ts
  before_script:
    - cd server
    - npm ci
  script:
    - yarn tsc
  only:
    changes:
      - .gitlab-ci.yml
      - server/**/*


# ╔═════════════╗
# ║ Stage: Test ║
# ╚═════════════╝

# Test job template
.test:
  stage: test
  script: yarn test

test client:
  extends: .test
  tags:
    - angular
    - ng-test
    - chrome
  dependencies:
    - build client
  before_script:
    - cd client
    - npm ci
  only:
    changes:
      - .gitlab-ci.yml
      - client/**/*


test server:
  extends: .test
  tags:
    - mocha
  dependencies:
    - build server
  before_script:
    - cd server
    - npm ci
  only:
    changes:
      - .gitlab-ci.yml
      - server/**/*

# ╔══════════════════╗
# ║ Stage: Post-Test ║
# ╚══════════════════╝

.post test:
  stage: post-test

# Coverage job template
.coverage:
  extends: .post test
  script: yarn coverage
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
      - client/coverage
      - server/coverage

client coverage:
  extends: .coverage
  tags:
    - angular
  dependencies:
    - test client
  before_script:
    - cd client
    - npm ci
  only:
    refs:
      - merge_requests
      - master
    changes:
      - .gitlab-ci.yml
      - client/**/*

server coverage:
  extends: .coverage
  tags:
    - mocha
    - nyc
  dependencies:
    - test server
  before_script:
    - cd server
    - npm ci
  only:
    refs:
      - merge_requests
      - master
    changes:
      - .gitlab-ci.yml
      - server/**/*

# Lint report job template
.lint:
  extends: .post test
  script: yarn lint

client lint:
  extends: .lint
  tags:
    - angular
  dependencies:
    - test client
  before_script:
    - cd client
    - npm ci
  only:
    refs:
      - merge_requests
      - master
    changes:
      - .gitlab-ci.yml
      - client/**/*

server lint:
  extends: .lint
  tags:
    - ts
  dependencies:
    - test server
  before_script:
    - cd server
    - npm ci
  only:
    refs:
      - merge_requests
      - master
    changes:
      - .gitlab-ci.yml
      - server/**/*

[B] Fixed unused import statement
  client/package-lock.json
  client/src/app/scene-creator/scene-renderer.service.ts
  server/package-lock.json
Due: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

[test + QA] test and QA fix
  client/src/app/game-list/game-list.component.ts
  client/src/app/scene-creator/scene-renderer.service.ts
Due: build client, test client, client coverage, client lint

[Fix] Removed sonic theme from options
  client/src/app/create3-dgame/selectType.ts
  common/free-game-json-interface/FreeGameCreatorInterface/free-game-enum.ts
  server/app/controllers/controller-utils.ts
Due: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

[fix] Removed skybox files
  client/src/assets/skybox/1.png
  client/src/assets/skybox/2.png
  client/src/assets/skybox/3.png
  client/src/assets/skybox/4.png
  client/src/assets/skybox/5.png
  client/src/assets/skybox/6.png
Due: build client, test client, client coverage, client lint

[fix] Used constant for delay time
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.ts
Due: build client, test client, client coverage, client lint

[fix] Removed commented tests
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.spec.ts
Due: build client, test client, client coverage, client lint

[fix] removed comments and used constants
  client/src/app/scene-creator/scene-renderer.service.ts
Due: build client, test client, client coverage, client lint

[other] package-lock
  client/package-lock.json
Due: build client, test client, client coverage, client lint

[lint] lint fix client
  client/src/app/game.service.spec.ts
Due: build client, test client, client coverage, client lint

[lint] lint client fixes
  client/src/app/game.service.ts
  client/src/app/scene-creator/3DFormService/3-dform.service.spec.ts
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.ts
  client/src/app/scene-creator/render-update.service.ts
Due: build client, test client, client coverage, client lint

[QA] Linted server
  client/package-lock.json
  client/src/app/scene-creator/3DFormService/3-dform.service.spec.ts
  server/app/services/diff-validator-3D.service.spec.ts
  server/app/services/free-game-creator.service.ts
  server/app/services/object3D-creator.service.spec.ts
Due: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

[fix] fixed reload list bug
  client/src/app/game-list/game-list.component.ts
Due: build client, test client, client coverage, client lint

[fix] made blink test undependent of time
  client/src/app/scene-creator/scene-renderer.service.spec.ts
Due: build client, test client, client coverage, client lint

[fix] removed sockets gamelist imports
  client/src/app/game-list/game-list.component.spec.ts
  client/src/app/game-list/game-list.component.ts
Due: build client, test client, client coverage, client lint

[Fix] Removed only the display of sonic
  common/free-game-json-interface/FreeGameCreatorInterface/free-game-enum.ts
  server/app/controllers/controller-utils.ts
Due: build server, test server, server coverage, server lint

[QA] Applied code review
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.ts
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/assets/skybox/1.png
  client/src/assets/skybox/2.png
  client/src/assets/skybox/3.png
  client/src/assets/skybox/4.png
  client/src/assets/skybox/5.png
  client/src/assets/skybox/6.png
Due: build client, test client, client coverage, client lint

Auto stash before merge of "feature/3d-theme-scene" and "origin/feature/3d-theme-scene"
  client/src/app/scene-creator/render-update.service.ts
  server/app/services/free-game-creator.service.ts
Due: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

[fix] Removed comments
  server/app/services/free-game-creator.service.ts
Due: build server, test server, server coverage, server lint

[fix] Added typedef
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.ts
Due: build client, test client, client coverage, client lint

[Dev] Messages are now sent with identifications in a free game
  client/src/app/scene-creator/scene-renderer.service.spec.ts
  client/src/app/scene-creator/scene-renderer.service.ts
Due: build client, test client, client coverage, client lint

[fix] linting errors
  client/src/app/scene-creator/scene-renderer.service.spec.ts
  client/src/app/scene-creator/scene-renderer.service.ts
Due: build client, test client, client coverage, client lint

[test] coverage server up
  server/app/services/free-game-creator-service.spec.ts
Due: build server, test server, server coverage, server lint

[DevOps] Removed CICD tags for jobs images
  .gitlab-ci.yml
Due: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

[DevOps] Fixed client coverage image and disabled test stage on MRs
  .gitlab-ci.yml
Due: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

[DevOps] Implemented codecov
  .gitlab-ci.yml
  client/package-lock.json
  client/package.json
  client/src/karma.conf.js
  server/package-lock.json
  server/package.json
Due: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

[DevOps] Moved codecov to main job script
  .gitlab-ci.yml
Due: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

[DevOps] Added CODECOV_TOKEN to ci config
  .gitlab-ci.yml
Due: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

[DevOps] Added lcovonly to coverage reporters
  client/src/karma.conf.js
  server/package.json
Due: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

[QA] Added codecov MR bot
  codecov.yml
Due: none

[DevOps] Coverage for `dev` commits [skip-ci]
  .gitlab-ci.yml
Due: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

[DevOps] Disabled `test` stage in dev [skip-ci]
  .gitlab-ci.yml
Due: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

[DevOps] Added production dockerfiles
  Dockerfile.client
  Dockerfile.dev
  Dockerfile.server
  server/package.json
Due: build server, test server, server coverage, server lint

[D]added service faile for objCollision
  client/src/app/scene-creator/objectCollisionService/object-collision.service.spec.ts
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
Due: build client, test client, client coverage, client lint

[D]added constructor implementation + setParameters function
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
Due: build client, test client, client coverage, client lint

[B]unable to compile due to unused varaible
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
Due: build client, test client, client coverage, client lint

[T] added test for setCollision and constructor
  client/src/app/scene-creator/objectCollisionService/object-collision.service.spec.ts
Due: build client, test client, client coverage, client lint

[D]added function compute direction
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
Due: build client, test client, client coverage, client lint

[D]finished implementation of computeCollision
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
Due: build client, test client, client coverage, client lint

[D] (PB) Initial game room structure
  client/src/app/scene-creator/scene-renderer.service.ts
  common/model/game/free-game-state.ts
  server/app/controllers/websocket.controller.ts
  server/app/model/room/game-room.ts
  server/app/services/websocket/rooms/abstract-game-room.ts
  server/app/services/websocket/rooms/free-game-room.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
  server/app/services/websocket/rooms/simple-game-room.ts
Due: build client, build server, test client, test server, client coverage, server coverage, client lint, server lint

[T] (PB) Fixed free-game-creator-service test
  server/app/services/free-game-creator-service.spec.ts
Due: build server, test server, server coverage, server lint
