Repository RLamousse/DrawingDuel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test client, test server, client coverage, server coverage, client lint, server lint

test client:
  stage: test
  script: yarn test
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci

test server:
  stage: test
  script: yarn test
  before_script:
  - cd server
  - npm ci

client coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - client/coverage

server coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  before_script:
  - cd server
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - server/coverage

client lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd client
  - npm ci

server lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd server
  - npm ci

[fix] added space after comma
  client/src/app/username.service.ts
Due: test client, client coverage, client lint

[R] callback after dialog close can take response from dialog
  client/src/app/dialog-utils.ts
Due: test client, client coverage, client lint

[R] abstract form exits with DialogStatus.CANCEL by default
  client/src/app/abstract-form.ts
Due: test client, client coverage, client lint

[R] create 3d game exits with DialogStatus.DONE on success, or with DialogStatus.CANCEL if not
  client/src/app/create3-dgame/create3-dgame.component.ts
Due: test client, client coverage, client lint

[R] delete game exits with DialogStatus.DONE on success, or with DialogStatus.CANCEL if not
  client/src/app/game-list/game/delete-game-form/delete-game-form.component.ts
Due: test client, client coverage, client lint

[R] reset game exits with DialogStatus.DONE on success, or with DialogStatus.CANCEL if not
  client/src/app/game-list/game/reset-game-form/reset-game-form.component.ts
Due: test client, client coverage, client lint

[R] create simple game exits with DialogStatus.DONE on success, or with DialogStatus.CANCEL if not
  client/src/app/simple-game-creator-form/simple-game-creator-form.component.ts
Due: test client, client coverage, client lint

[R] changed callbacks of open dialog to refresh only if DialogStatus.DONE
  client/src/app/game-list/game/game.component.ts
  client/src/app/vue-admin/vue-admin.component.ts
Due: test client, client coverage, client lint

[R] put and delete games functions return the promises
  client/src/app/game-list/game/delete-game-form/delete-game-form.component.ts
  client/src/app/game.service.ts
Due: test client, client coverage, client lint

[D] prevent exit if error thrown in simple game creation form
  client/src/app/simple-game-creator-form/simple-game-creator-form.component.ts
Due: test client, client coverage, client lint

[D] Room game lazy-loading [skip-ci]
  server/app/services/websocket/rooms/abstract-game-room.ts
  server/app/services/websocket/rooms/free-game-room.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
  server/app/services/websocket/rooms/simple-game-room.ts
Due: test server, server coverage, server lint

[T] Fixed tests now that we have lazy loading
  server/app/services/websocket/rooms/free-game-room.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
  server/app/services/websocket/rooms/simple-game-room.spec.ts
Due: test server, server coverage, server lint

[Dev]Changed text in waiting room
  client/src/app/await-view/await-view.component.html
Due: test client, client coverage, client lint

[Dev]Added url param read for online type in waiting room
  client/src/app/await-view/await-view.component.ts
Due: test client, client coverage, client lint

[Dev]Always navigate to await-view from game component
  client/src/app/game-list/game/game.component.ts
Due: test client, client coverage, client lint

[Dev]Remove listeners when checking out from a room
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[dev] added function to get lite version of games from the server
  client/src/app/game.service.ts
Due: test client, client coverage, client lint

[dev] added input param from vue-admin to game-list
  client/src/app/vue-admin/vue-admin.component.html
  client/src/app/vue-admin/vue-admin.component.ts
Due: test client, client coverage, client lint

[dev] added input of lite games from vue-admin
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[R] extracted function for get games
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[dev] added function for get lite games
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[dev] added ternary to check which join games to use
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[fix] added right call to get simple game lite
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[D] Navigation now waits for room check in callback
  client/src/app/game-list/game/game.component.ts
  client/src/app/room.service.ts
  server/app/services/websocket/rooms/abstract-game-room.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[T] Fixed game.component tests
  client/src/app/game-list/game/game.component.spec.ts
  client/src/app/game-list/game/game.component.ts
Due: test client, client coverage, client lint

[QA] Fixed promises lint
  client/src/app/room.service.spec.ts
Due: test client, client coverage, client lint

[D] created constant for projections
  server/app/services/data-base.service.ts
Due: test server, server coverage, server lint

[D] created interface for params of get all
  server/app/services/data-base.service.ts
Due: test server, server coverage, server lint

[R] standardize get all to filter and project at the same time
  server/app/services/db/collection.service.ts
Due: test server, server coverage, server lint

[R] get all request now can filter diff data if param filterDiffData is true
  server/app/controllers/game-manager.controller.ts
Due: test server, server coverage, server lint

[R] Adapted tests to new modifications
  server/app/controllers/game-manager.controller.spec.ts
Due: test server, server coverage, server lint

[T] Used socket service spy in RoomService tests
  client/src/app/room.service.spec.ts
Due: test client, client coverage, client lint

[D] exit on error
  client/src/app/game-list/game/delete-game-form/delete-game-form.component.ts
Due: test client, client coverage, client lint

[QA] Removed unused username routes
  common/communication/routes.ts
Due: none

[UI] Updated delete-game-form.component to inform users of deferred deletion
  client/src/app/game-list/game/delete-game-form/delete-game-form.component.html
  client/src/app/game-list/game/delete-game-form/delete-game-form.component.ts
Due: test client, client coverage, client lint

[D] Added DELETE route to game-manager.controller to handle game deletion
  client/src/app/game.service.ts
  server/app/controllers/game-manager.controller.ts
  server/app/inversify.config.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[D] Handled deferred deletion in hotel room service
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[B] Fixed duplicated calls to disconnect routine
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[T] Added DELETE routes tests
  server/app/controllers/game-manager.controller.spec.ts
Due: test server, server coverage, server lint

[QA] Fixed async test suites
  server/app/controllers/game-manager.controller.spec.ts
Due: test server, server coverage, server lint

Path conditions:
  test client: any of: .gitlab-ci.yml, client/**/*
  test server: any of: .gitlab-ci.yml, server/**/*
  client coverage: any of: .gitlab-ci.yml, client/**/*
  server coverage: any of: .gitlab-ci.yml, server/**/*
  client lint: any of: .gitlab-ci.yml, client/**/*
  server lint: any of: .gitlab-ci.yml, server/**/*
