Repository RLamousse/DrawingDuel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test client, test server, client coverage, server coverage, client lint, server lint

test client:
  stage: test
  script: yarn test
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci

test server:
  stage: test
  script: yarn test
  before_script:
  - cd server
  - npm ci

client coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - client/coverage

server coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  before_script:
  - cd server
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - server/coverage

client lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd client
  - npm ci

server lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd server
  - npm ci

[T] adapted tests of initial-view
  client/src/app/initial-view/initial-view.component.spec.ts
Due: test client, client coverage, client lint

[QA] linting
  client/src/app/initial-view/initial-view.component.spec.ts
Due: test client, client coverage, client lint

[B] Actually await for differenceValidationAtPoint
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[D] confrms userName on enter press
  client/src/app/initial-view/initial-view.component.html
Due: test client, client coverage, client lint

[fix] Added empty userName test
  client/src/app/username.service.ts
Due: test client, client coverage, client lint

[D] added function to get game inside photoService
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.ts
Due: test client, client coverage, client lint

[ref] changed color and text of back to game list buttons
  client/src/app/play-view/play-view.component.html
  client/src/app/scene-creator/scene-creator.component.html
Due: test client, client coverage, client lint

[D] beautify buttons
  client/src/app/play-view/play-view.component.css
  client/src/app/play-view/play-view.component.html
  client/src/app/scene-creator/scene-creator.component.css
  client/src/app/scene-creator/scene-creator.component.html
Due: test client, client coverage, client lint

[fix] exchange non working 3D object asteroid for a working one + package lock
  client/src/assets/Models/space/asteroid/scene.bin
  client/src/assets/Models/space/asteroid/scene.gltf
  client/src/assets/Models/space/asteroid/textures/Scene_-_Root_baseColor.jpg
  client/src/assets/Models/space/asteroid/textures/Scene_-_Root_normal.jpg
Due: test client, client coverage, client lint

[Dev] Parsed correctly await-view url number param
  client/src/app/await-view/await-view.component.ts
Due: test client, client coverage, client lint

[other] Reformat of the play-view html template
  client/src/app/play-view/play-view.component.html
Due: test client, client coverage, client lint

Auto stash before merge of "hotfix/3D-fix" and "origin/dev"
  client/package-lock.json
  client/src/assets/Models/space/asteroid/scene.bin
  client/src/assets/Models/space/asteroid/scene.gltf
  client/src/assets/Models/space/asteroid/textures/Default_baseColor.png
  client/src/assets/Models/space/asteroid/textures/Default_normal.png
  common/free-game-json-interface/FreeGameCreatorInterface/free-game-enum.ts
  server/app/services/object3D-creator.service.ts
  server/package-lock.json
Due: test client, test server, client coverage, server coverage, client lint, server lint

[Dev] Added playername in interaction response for difference validation
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[Dev] Plays diff found sound only when found by this player
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
Due: test client, client coverage, client lint

[D] added photoService to call takePhoto when finish creating game
  client/src/app/create3-dgame/create3-dgame.component.ts
Due: test client, client coverage, client lint

[D]made freeGameCreator to a singleton
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.ts
Due: test client, client coverage, client lint

[lint] lint fix server side
  server/app/services/object3D-creator.service.ts
Due: test server, server coverage, server lint

[Dev] Changed subject type from number to boolean
  client/src/app/simple-game/simple-game.service.ts
Due: test client, client coverage, client lint

[UX] theme space now in french "Espace"
  client/src/app/create3-dgame/selectType.ts
Due: test client, client coverage, client lint

[D] package lock install
  client/package-lock.json
Due: test client, client coverage, client lint

[R] change error message langage to french for bitmaps errors
  common/errors/bitmap.errors.ts
  server/app/controllers/bitmap-diff.controller.spec.ts
Due: test server, server coverage, server lint

[D] Refactored 3D validation to use socket + callbacks
  client/src/app/scene-creator/scene-diff-validator.service.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
  client/src/app/util/client-utils.ts
  common/errors/services.errors.ts
Due: test client, client coverage, client lint

[R] changing component errors langage to french
  common/errors/component.errors.ts
Due: none

[R] component errors change
  common/errors/component.errors.ts
Due: none

[F] test imports
  client/src/app/play-view/play-view.component.spec.ts
  client/src/app/scene-creator/scene-creator.component.spec.ts
Due: test client, client coverage, client lint

[R] controller errors langage changed to french
  common/errors/controller.errors.ts
Due: none

[R] changing database errors langage to french, adapted tests, and deleted 1 useless message
  common/errors/database.errors.ts
  server/app/services/game-creator-service.spec.ts
Due: test server, server coverage, server lint

[T] Fixed SceneDiffValidator providers in component creation test
  client/src/app/diff-counter/diff-counter.component.spec.ts
  client/src/app/play-view/play-view.component.spec.ts
  client/src/app/scene-creator/scene-renderer.service.spec.ts
  client/src/app/timer/timer.component.spec.ts
Due: test client, client coverage, client lint

[QA] linting
  client/src/app/scene-creator/scene-creator.component.spec.ts
Due: test client, client coverage, client lint

[T] Redid scene-diff-validator.service tests to use callbacks instead
  client/src/app/scene-creator/scene-diff-validator.service.spec.ts
Due: test client, client coverage, client lint

[T] Removed async calls in simple-game-container.component tests
  client/src/app/simple-game/simple-game-container/simple-game-container.component.spec.ts
Due: test client, client coverage, client lint

[R] change service errors langage to french
  common/errors/services.errors.ts
Due: none

[D] Renamed SceneDiffValidator to SceneDiffValidatorService
  client/src/app/app.module.ts
  client/src/app/diff-counter/diff-counter.component.spec.ts
  client/src/app/game-list/game/game.component.ts
  client/src/app/play-view/play-view.component.spec.ts
  client/src/app/scene-creator/scene-diff-validator.service.spec.ts
  client/src/app/scene-creator/scene-diff-validator.service.ts
  client/src/app/scene-creator/scene-renderer.service.spec.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/timer/timer.component.spec.ts
Due: test client, client coverage, client lint

[R] removing small error of import
  server/app/services/game-creator.service.ts
Due: test server, server coverage, server lint

[R] fix game creator service
  server/app/services/game-creator.service.ts
Due: test server, server coverage, server lint

[UX] await view button now same as other buttons + package-lock
  client/package-lock.json
  client/src/app/await-view/await-view.component.css
  client/src/app/await-view/await-view.component.html
  server/package-lock.json
Due: test client, test server, client coverage, server coverage, client lint, server lint

[Dev]Added counter for mutliplayer
  client/src/app/diff-counter/diff-counter.component.html
Due: test client, client coverage, client lint

[Dev] Added message conditionnal to win status
  client/src/app/diff-counter/end-game-notif/end-game-notif.component.html
Due: test client, client coverage, client lint

[Dev] Added field to check if we won
  common/dialog-data-interface/IDialogData.ts
Due: none

[QA] Fixed typo
  common/model/game/game.ts
Due: none

Path conditions:
  test client: any of: .gitlab-ci.yml, client/**/*
  test server: any of: .gitlab-ci.yml, server/**/*
  client coverage: any of: .gitlab-ci.yml, client/**/*
  server coverage: any of: .gitlab-ci.yml, server/**/*
  client lint: any of: .gitlab-ci.yml, client/**/*
  server lint: any of: .gitlab-ci.yml, server/**/*
