Repository RLamousse/DrawingDuel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test client, test server, client coverage, server coverage, client lint, server lint

test client:
  stage: test
  script: yarn test
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci

test server:
  stage: test
  script: yarn test
  before_script:
  - cd server
  - npm ci

client coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - client/coverage

server coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  before_script:
  - cd server
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - server/coverage

client lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd client
  - npm ci

server lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd server
  - npm ci

[B] Fixed merge errors
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[Dev] Removed username.controller
  server/app/app.ts
  server/app/controllers/username.controller.spec.ts
  server/app/controllers/username.controller.ts
  server/app/inversify.config.ts
Due: test server, server coverage, server lint

[Dev] Added two way map
  server/app/util/twoWayMap.ts
Due: test server, server coverage, server lint

[Dev] Changed data structure to handle retrieval of username
  server/app/services/username.service.ts
Due: test server, server coverage, server lint

[Dev] Adapted code to handle new UsernameService method implementation
  server/app/services/username.service.spec.ts
  server/app/services/websocket/check-user-websocket-action.service.spec.ts
  server/app/services/websocket/check-user-websocket-action.service.ts
Due: test server, server coverage, server lint

[D] Separated INTERACT and INTERACT_ERROR responses
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
  client/src/app/simple-game/simple-game.service.ts
  common/communication/socket-events.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[T] Updated tests to include INTERACT_ERROR behavior
  client/src/app/simple-game/simple-game-container/simple-game-container.component.spec.ts
  client/src/app/simple-game/simple-game.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[D] Removed gameName from RoomMessage
  client/src/app/simple-game/simple-game.service.ts
  common/communication/messages/message.ts
  server/app/controllers/websocket.controller.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[Dev] Added on ready info input from server
  client/src/app/room.service.ts
Due: test client, client coverage, client lint

[QA] Reformat of file
  common/model/game/game.ts
Due: none

[Dev] Added field in IInteractionResponse and corrected heritance
  common/model/rooms/interaction.ts
Due: none

[Dev] Added on ready info interfaces for games
  common/model/rooms/ready-info.ts
Due: none

[Dev] Removed no longer needed/error causing code
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
Due: test client, client coverage, client lint

[Dev] Added field for the implementation of room ready information
  server/app/model/room/game-room.ts
Due: test server, server coverage, server lint

[Dev] Added emit of on ready room information
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[ref] updated openDialog to accept any callback function
  client/src/app/await-view/await-view.component.ts
  client/src/app/dialog-utils.ts
  client/src/app/diff-counter/diff-counter.component.ts
  client/src/app/game-list/game/game.component.ts
  client/src/app/vue-admin/vue-admin.component.ts
Due: test client, client coverage, client lint

[Test] Added new field to match new IIteractionResponse implementation
  client/src/app/simple-game/simple-game-container/simple-game-container.component.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[Test]Fixed tests for hotel-room.service with the username service added
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
Due: test server, server coverage, server lint

[Dev]Add username service to fetch username + fixed types
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[Dev] Added roomReadyEmitInformation to push information on ready
  server/app/services/websocket/rooms/abstract-game-room.ts
  server/app/services/websocket/rooms/simple-game-room.ts
Due: test server, server coverage, server lint

[dev] now every pages routes to init-view when the username is lost
  client/src/app/game-list/game-list.component.ts
  client/src/app/play-view/play-view.component.ts
  client/src/app/scene-creator/scene-creator.component.ts
Due: test client, client coverage, client lint

[dev] added reload on simple game form
  client/src/app/simple-game-creator-form/simple-game-creator-form.component.ts
Due: test client, client coverage, client lint

[dev] added unsubscribe to simple-game service
  client/src/app/simple-game/simple-game.service.ts
Due: test client, client coverage, client lint

[dev] added reload on create 3d
  client/src/app/create3-dgame/create3-dgame.component.ts
Due: test client, client coverage, client lint

[dev] added package lock
  client/package-lock.json
  client/package.json
Due: test client, client coverage, client lint

[fix] removed reload on create3-dcomponent
  client/src/app/create3-dgame/create3-dgame.component.ts
Due: test client, client coverage, client lint

[fix] removed reload on simplegame creator-form
  client/src/app/simple-game-creator-form/simple-game-creator-form.component.ts
Due: test client, client coverage, client lint

[dev] added reload on afterclosed for dialog in vue-admin
  client/src/app/vue-admin/vue-admin.component.ts
Due: test client, client coverage, client lint

[UI] Limited errorMessage width at login
  client/src/app/initial-view/initial-view.component.css
Due: test client, client coverage, client lint

[QA] Lint client and server
  client/src/app/await-view/await-view.component.spec.ts
  client/src/app/room.service.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/vue-admin/vue-admin.component.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[D] Updated server package-lock.json
  server/package-lock.json
Due: test server, server coverage, server lint

[D] Updated client package*.json
  client/package-lock.json
  client/package.json
Due: test client, client coverage, client lint

[Dev] Await view redirects to game when room is ready
  client/src/app/await-view/await-view.component.ts
Due: test client, client coverage, client lint

[QA] Extracted handleInteraction of hotel-room.service
  server/app/services/websocket/rooms/abstract-game-room.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[ref] rename route game-list to games
  client/src/app/app-routing.module.ts
  client/src/app/await-view/await-view.component.ts
  client/src/app/diff-counter/diff-counter.component.ts
  client/src/app/initial-view/initial-view.component.ts
Due: test client, client coverage, client lint

[ref] rename route await-view to loading
  client/src/app/app-routing.module.ts
  client/src/app/game-list/game/game.component.ts
Due: test client, client coverage, client lint

[D] Reworked rooms to have a single state
  server/app/model/room/game-room.ts
  server/app/services/websocket/rooms/abstract-game-room.ts
  server/app/services/websocket/rooms/free-game-room.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
  server/app/services/websocket/rooms/simple-game-room.ts
Due: test server, server coverage, server lint

[T] Updated tests for single states rooms
  server/app/services/websocket/rooms/free-game-room.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/simple-game-room.spec.ts
Due: test server, server coverage, server lint

[QA] Extracted some rendered methods to utils file
  client/src/app/scene-creator/renderer-utils.ts
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[D] Simplified canvas manipulation
  client/src/app/client-utils.ts
  client/src/app/scene-creator/scene-creator.component.css
  client/src/app/scene-creator/scene-creator.component.html
  client/src/app/scene-creator/scene-creator.component.ts
  client/src/app/scene-creator/scene-renderer.service.spec.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/simple-game/simple-game-canvas/simple-game-canvas.component.ts
Due: test client, client coverage, client lint

Path conditions:
  test client: any of: .gitlab-ci.yml, client/**/*
  test server: any of: .gitlab-ci.yml, server/**/*
  client coverage: any of: .gitlab-ci.yml, client/**/*
  server coverage: any of: .gitlab-ci.yml, server/**/*
  client lint: any of: .gitlab-ci.yml, client/**/*
  server lint: any of: .gitlab-ci.yml, server/**/*
