Repository RLamousse/DrawingDuel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test client, test server, client coverage, server coverage, client lint, server lint

test client:
  stage: test
  script: yarn test
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci

test server:
  stage: test
  script: yarn test
  before_script:
  - cd server
  - npm ci

client coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - client/coverage

server coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  before_script:
  - cd server
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - server/coverage

client lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd client
  - npm ci

server lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd server
  - npm ci

[Dev] Removed uses of deprecated execute method in ChatAction
  server/app/controllers/websocket.controller.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.ts
Due: test server, server coverage, server lint

[dev] added reload on form close
  client/src/app/vue-admin/vue-admin.component.ts
Due: test client, client coverage, client lint

[fix] added right component to call on dialog
  client/src/app/vue-admin/vue-admin.component.ts
Due: test client, client coverage, client lint

[QA] Removed IExtendedFreeGame
  client/src/app/game-list/game-list.component.html
  client/src/app/game-list/game/game.component.html
  client/src/app/game.service.ts
  common/model/game/extended-free-game.ts
Due: test client, client coverage, client lint

[fix] removed duplicate lines
  client/src/app/game.service.ts
Due: test client, client coverage, client lint

[T] Fixed game.service tests
  client/package-lock.json
  client/src/app/game.service.spec.ts
Due: test client, client coverage, client lint

[Dev] Refactored to match new ChatAction implementation
  server/app/controllers/websocket.controller.ts
Due: test server, server coverage, server lint

[Dev] Removed deprecated function+refactor
  server/app/services/websocket/chat-websocket-action.service.ts
Due: test server, server coverage, server lint

[Dev]Added error when trying to send to undefined room
  server/app/services/websocket/chat-websocket-action.service.ts
Due: test server, server coverage, server lint

[Test] Changed tests to match new ChatAction implementation
  server/app/services/websocket/chat-websocket-action.service.spec.ts
Due: test server, server coverage, server lint

[Test]Fixed tests using removed deprecated function
  server/app/services/websocket/update-game-scores-websocket-action.service.spec.ts
Due: test server, server coverage, server lint

[Test] Fixed wrong time in expected message
  server/app/services/websocket/chat-websocket-action.service.spec.ts
Due: test server, server coverage, server lint

[R] removed delete to be deleted games on start
  server/app/services/data-base.service.ts
  server/app/services/db/collection.service.ts
  server/app/services/db/free-games.collection.service.spec.ts
  server/app/services/db/simple-games.collection.service.spec.ts
Due: test server, server coverage, server lint

[T] Fixed timestamps in chat-websocket-action.service tests
  server/app/services/websocket/chat-websocket-action.service.spec.ts
Due: test server, server coverage, server lint

[R] renamed game manager routes to be restful
  client/src/app/game.service.ts
  client/src/app/simple-game/simple-game.service.spec.ts
  client/src/app/simple-game/simple-game.service.ts
  common/communication/routes.ts
  server/app/controllers/game-manager.controller.spec.ts
  server/app/controllers/game-manager.controller.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[F] fixed client tests
  client/src/app/simple-game/simple-game.service.spec.ts
Due: test client, client coverage, client lint

[D] added button to route to admin view
  client/src/app/initial-view/initial-view.component.css
  client/src/app/initial-view/initial-view.component.html
  client/src/app/initial-view/initial-view.component.ts
Due: test client, client coverage, client lint

[D] added button to route back to home
  client/src/app/vue-admin/vue-admin.component.css
  client/src/app/vue-admin/vue-admin.component.html
  client/src/app/vue-admin/vue-admin.component.ts
Due: test client, client coverage, client lint

[ref] ignore unused error on variables used only in html
  client/src/app/initial-view/initial-view.component.ts
  client/src/app/vue-admin/vue-admin.component.ts
Due: test client, client coverage, client lint

[ref] adapted tests to added buttons
  client/src/app/app.component.spec.ts
  client/src/app/initial-view/initial-view.component.spec.ts
  client/src/app/vue-admin/vue-admin.component.spec.ts
Due: test client, client coverage, client lint

[B] Fixed getDifferenceThreshold
  server/app/services/websocket/rooms/abstract-game-room.ts
Due: test server, server coverage, server lint

[D] Disabled 3D game click on game over
  client/src/app/await-view/await-view.component.ts
  client/src/app/scene-creator/scene-creator.component.ts
  common/model/game/game.ts
Due: test client, client coverage, client lint

[D]scene optimisation + package-lock update
  client/src/app/scene-creator/3DFormService/3-dform.service.ts
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  server/package-lock.json
Due: test client, test server, client coverage, server coverage, client lint, server lint

[Dev] Changed wait view text color
  client/src/app/await-view/await-view.component.css
  client/src/app/await-view/await-view.component.html
Due: test client, client coverage, client lint

[Dev]Added kick on leave adversary leave
  client/src/app/play-view/play-view.component.ts
Due: test client, client coverage, client lint

[Test] Fixed play-view providers in tests
  client/src/app/play-view/play-view.component.spec.ts
Due: test client, client coverage, client lint

[B] Cleanup socket subscriptions of scene-creator.component
  client/src/app/scene-creator/scene-creator.component.ts
Due: test client, client coverage, client lint

[Dev]Play-view unsubscribe handling
  client/src/app/play-view/play-view.component.ts
Due: test client, client coverage, client lint

[D] Deleted GAME_MANAGER_GET_NOT_DELETED_REQUEST route and used query param instead
  client/src/app/game.service.ts
  common/communication/routes.ts
  server/app/controllers/game-manager.controller.spec.ts
  server/app/controllers/game-manager.controller.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[QA] Moved DB_HOST url to config
  server/app/services/data-base.service.ts
  server/config/default.json
Due: test server, server coverage, server lint

[B] Removed useless async modifier for loadScenes
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[Dev] Added small margin to the left to the button
  client/src/app/vue-admin/vue-admin.component.css
Due: test client, client coverage, client lint

[B] Await photoservice before dialog close
  client/src/app/create3-dgame/create3-dgame.component.html
  client/src/app/create3-dgame/create3-dgame.component.ts
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.ts
Due: test client, client coverage, client lint

[QA] Delete mockGames
  client/src/app/mockGames.ts
Due: test client, client coverage, client lint

[QA] Linted client
  client/src/app/game.service.ts
Due: test client, client coverage, client lint

[B] Added thumbnail to createFreeGameMock in hotel-room.service.spec
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
Due: test server, server coverage, server lint

[B] Fixed clickEnabled assignments
  client/src/app/scene-creator/scene-creator.component.ts
Due: test client, client coverage, client lint

[fix] faute de francais fixed
  client/src/app/username.service.ts
Due: test client, client coverage, client lint

[D] created dialog status
  client/src/app/dialog-utils.ts
Due: test client, client coverage, client lint

Path conditions:
  test client: any of: .gitlab-ci.yml, client/**/*
  test server: any of: .gitlab-ci.yml, server/**/*
  client coverage: any of: .gitlab-ci.yml, client/**/*
  server coverage: any of: .gitlab-ci.yml, server/**/*
  client lint: any of: .gitlab-ci.yml, client/**/*
  server lint: any of: .gitlab-ci.yml, server/**/*
