Repository RLamousse/DrawingDuel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test client, test server, client coverage, server coverage, client lint, server lint

.gitlab-ci.yml:

# ╔═══════════╗
# ║ Variables ║
# ╚══════════╝
variables:
  CODECOV_TOKEN: "1edf15e3-19b5-420b-a54a-35fac689ef0c"
image: node


# ╔════════╗
# ║ Stages ║
# ╚════════╝

stages:
  - test
  - deep-test

# ╔═════════════╗
# ║ Stage: Test ║
# ╚═════════════╝

# Test job template
.test:
  stage: test
  script: yarn test
  except:
    - merge_requests
    - dev

test client:
  extends: .test
  image: trion/ng-cli-karma
  before_script:
    - cd client
    - npm ci
  only:
    changes:
      - .gitlab-ci.yml
      - client/**/*


test server:
  extends: .test
  before_script:
    - cd server
    - npm ci
  only:
    changes:
      - .gitlab-ci.yml
      - server/**/*

# ╔══════════════════╗
# ║ Stage: deep-test ║
# ╚══════════════════╝

.deep test:
  stage: deep-test

# Coverage job template
.coverage:
  extends: .deep test
  script:
    - yarn coverage
    - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/

client coverage:
  extends: .coverage
  image: trion/ng-cli-karma
  before_script:
    - cd client
    - npm ci
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - .gitlab-ci.yml
      - client/**/*
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
      - client/coverage

server coverage:
  extends: .coverage
  before_script:
    - cd server
    - npm ci
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - .gitlab-ci.yml
      - server/**/*
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
      - server/coverage

# Lint report job template
.lint:
  extends: .deep test
  script: yarn lint

client lint:
  extends: .lint
  before_script:
    - cd client
    - npm ci
  only:
    refs:
      - merge_requests
      - master
    changes:
      - .gitlab-ci.yml
      - client/**/*

server lint:
  extends: .lint
  before_script:
    - cd server
    - npm ci
  only:
    refs:
      - merge_requests
      - master
    changes:
      - .gitlab-ci.yml
      - server/**/*

[T]added test to test new modifiedScene raycst coll
  client/src/app/scene-creator/objectCollisionService/object-collision.service.spec.ts
Due: test client, client coverage, client lint

[test] added tests for the new routes in game manager
  server/app/controllers/game-manager.controller.spec.ts
Due: test server, server coverage, server lint

[ref] removed client toBeDeleted filtering
  client/src/app/game.service.ts
Due: test client, client coverage, client lint

[R] Refactored IJson3DObject to use IPoint3D and IVector3
  common/free-game-json-interface/FreeGameCreatorInterface/free-game-enum.ts
  common/free-game-json-interface/JSONInterface/IScenesJSON.ts
  common/model/point.ts
  common/util/util.ts
Due: none

[R] Refactored server to use new IJson3DObject
  server/app/controllers/diff-validator-3D.controller.ts
  server/app/services/diff-validator-3D.service.spec.ts
  server/app/services/diff-validator-3D.service.ts
  server/app/services/free-game-creator-service.spec.ts
  server/app/services/free-game-creator.service.ts
  server/app/services/object3D-creator.service.spec.ts
  server/app/services/object3D-creator.service.ts
  server/app/services/service-utils.ts
Due: test server, server coverage, server lint

[QA] Linted server
  server/app/services/free-game-creator.service.ts
Due: test server, server coverage, server lint

[R] Refactored client to use IPoint3D
  client/src/app/scene-creator/3DFormService/3-dform.service.spec.ts
  client/src/app/scene-creator/3DFormService/3-dform.service.ts
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.spec.ts
  client/src/app/scene-creator/render-update.service.spec.ts
  client/src/app/scene-creator/render-update.service.ts
  client/src/app/scene-creator/scene-renderer.service.spec.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/simple-game/game-sounds.ts
  client/src/app/simple-game/simple-game-canvas/simple-game-canvas.component.spec.ts
  client/src/app/simple-game/simple-game-canvas/simple-game-canvas.component.ts
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
Due: test client, client coverage, client lint

[QA] Fixed lint
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[QA] Disabled codecov threshold
  codecov.yml
Due: none

[R] Removed isSameCenter and isSameObject
  client/src/app/scene-creator/render-update.service.spec.ts
  client/src/app/scene-creator/render-update.service.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  server/app/services/free-game-creator-service.spec.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[R] Refactored THREE imports in client
  client/src/app/game-list/game-list.component.spec.ts
  client/src/app/scene-creator/3DFormService/3-dform.service.spec.ts
  client/src/app/scene-creator/3DFormService/3-dform.service.ts
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.spec.ts
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.ts
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.spec.ts
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.ts
  client/src/app/scene-creator/objectCollisionService/object-collision.service.spec.ts
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
  client/src/app/scene-creator/render-update.service.spec.ts
  client/src/app/scene-creator/render-update.service.ts
  client/src/app/scene-creator/scene-creator.component.spec.ts
  client/src/app/scene-creator/scene-renderer.service.spec.ts
  client/src/app/scene-interface.ts
  client/src/app/vue-admin/vue-admin.component.spec.ts
Due: test client, client coverage, client lint

[R] Removed Three.js server dependency
  server/app/services/free-game-creator-service.spec.ts
  server/package-lock.json
  server/package.json
Due: test server, server coverage, server lint

[QA] Linted client
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.ts
Due: test client, client coverage, client lint

[B] - Refactored exported ORIGIN* consts to methods to avoid copy by reference runtime errors - reworked * as IObject imports
  client/src/app/scene-creator/3DFormService/3-dform.service.spec.ts
  client/src/app/scene-creator/3DFormService/3-dform.service.ts
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.spec.ts
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.ts
  client/src/app/simple-game/simple-game-canvas/simple-game-canvas.component.spec.ts
  client/src/app/simple-game/simple-game-container/simple-game-container.component.spec.ts
  client/src/app/simple-game/simple-game.service.spec.ts
  common/free-game-json-interface/JSONInterface/IScenesJSON.ts
  common/model/point.ts
  server/app/services/diff-validator-3D.service.spec.ts
  server/app/services/free-game-creator-service.spec.ts
  server/app/services/free-game-creator.service.ts
  server/app/services/game-creator-service.spec.ts
  server/app/services/object3D-creator.service.spec.ts
  server/app/services/object3D-creator.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[DevOps] Updated .codecov.yml
  .codecov.yml
  codecov.yml
Due: none

[DevOps] Updated .codecov.yml to recursively include files
  .codecov.yml
Due: none

[Dev][bleeding edge]Fixed handling for weird multiple server responses
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
  client/src/app/simple-game/simple-game.service.ts
Due: test client, client coverage, client lint

[B] Added I3DDiffValidatorControllerRequest to normalize diff-validator-3D.controller requests
  client/src/app/scene-creator/scene-renderer.service.ts
  common/communication/requests/diff-validator-controller.request.ts
  server/app/controllers/diff-validator-3D.controller.spec.ts
  server/app/controllers/diff-validator-3D.controller.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[DevOps] Set default codecov threshold to null
  .codecov.yml
Due: none

[DevOps] Set default codecov threshold to 0
  .codecov.yml
Due: none

[B] Handled merge errors
  client/package-lock.json
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
  server/package-lock.json
Due: test client, test server, client coverage, server coverage, client lint, server lint

[UX] change message in create 3Dcomponent view
  client/src/app/create3-dgame/create3-dgame.component.html
Due: test client, client coverage, client lint

[B] Fixed raytracer intersection with added objects
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.ts
  client/src/app/scene-creator/scene-creator.component.ts
  client/src/app/scene-creator/scene-renderer.service.spec.ts
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[DevOps] Fallback to null threshold for default codecov project
  .codecov.yml
Due: none

[Merge] resolve some merge problems and change loading screen
  client/src/app/game-list/game-list.component.html
  client/src/app/game-list/game/game.component.html
  client/src/assets/images/loadingScreen.gif
Due: test client, client coverage, client lint

[D] Added playerCapacity propriety to IGameRoom [skip-ci]
  server/app/model/room/game-room.ts
  server/app/services/websocket/rooms/abstract-game-room.ts
Due: test server, server coverage, server lint

[Dev] Handled unsubscribe project wide
  client/src/app/await-view/await-view.component.ts
  client/src/app/diff-counter/diff-counter.component.ts
  client/src/app/message-box/message-box.component.ts
  client/src/app/room.service.ts
Due: test client, client coverage, client lint

[UI] new loading gif and adapted it to gameList
  client/src/app/game-list/game/game.component.ts
  client/src/assets/images/loadingScreen.gif
Due: test client, client coverage, client lint

[fix+UI] solve compiling problem + css game adjust buttons
  client/src/app/game-list/game/game.component.css
  client/src/app/game-list/game/game.component.html
  client/src/app/game-list/game/game.component.ts
Due: test client, client coverage, client lint

[DevOps] Reworked codecov threshold
  .codecov.yml
Due: none

[fix+UI] waiting screeen game list fix + found bug in game list html
  client/src/app/game-list/game-list.component.css
  client/src/app/game-list/game-list.component.html
Due: test client, client coverage, client lint

[Test] Prepared test file for refactoring
  server/app/services/websocket/chat-websocket-action.service.spec.ts
Due: test server, server coverage, server lint

[UI] adapt waiting screen to game list and admin list
  client/src/app/game-list/game-list.component.css
  client/src/app/game-list/game/game.component.ts
Due: test client, client coverage, client lint

[Dev] Added sendChat to better suit non-socket access to api
  server/app/services/websocket/chat-websocket-action.service.ts
Due: test server, server coverage, server lint

[Test] Fixed import and added new ChatActionService param
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
Due: test server, server coverage, server lint

[Dev] Added emission of chat messages from room interact result
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[Test] Fixed imports in simple-game-room tests
  server/app/services/websocket/rooms/simple-game-room.spec.ts
Due: test server, server coverage, server lint
