Repository RLamousse/DrawingDuel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test client, test server, client coverage, server coverage, client lint, server lint

test client:
  stage: test
  script: yarn test
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci

test server:
  stage: test
  script: yarn test
  before_script:
  - cd server
  - npm ci

client coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - client/coverage

server coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  before_script:
  - cd server
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - server/coverage

client lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd client
  - npm ci

server lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd server
  - npm ci

[ref] starting a new game list view
  client/package-lock.json
  client/src/app/app.module.ts
  client/src/app/game-list/game/game.component.css
  client/src/app/game-list/game/game.component.html
  client/src/app/game.service.ts
  server/package-lock.json
Due: test client, test server, client coverage, server coverage, client lint, server lint

[dev] created new route for soon to be game manager controller
  common/communication/routes.ts
Due: none

[dev] creation of new game manager controller
  server/app/controllers/game-manager.controller.ts
Due: test server, server coverage, server lint

[dev] integration of game manager controller in server
  server/app/app.ts
  server/app/inversify.config.ts
  server/app/types.ts
Due: test server, server coverage, server lint

[D] collision service now working, posible to clip if rotate camera
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[dev] round thumbnail change
  client/src/app/game-list/game/game.component.css
  client/src/app/game-list/game/game.component.html
  client/src/assets/images/2d.PNG
  client/src/assets/images/3d.PNG
Due: test client, client coverage, client lint

[dev] completed game manager controller (based on data-base controller)
  server/app/controllers/game-manager.controller.ts
Due: test server, server coverage, server lint

[dev] changing background and cards size of game list
  client/src/app/game-list/game-list.component.css
  client/src/app/game-list/game-list.component.html
  client/src/app/game-list/game/game.component.css
  client/src/app/game-list/game/game.component.html
  client/src/assets/images/space.jpg
  client/src/styles.css
Due: test client, client coverage, client lint

[dev] deleting useless lines
  client/src/app/game-list/game/game.component.css
  client/src/app/game-list/game/game.component.html
Due: test client, client coverage, client lint

[dev] created new routes for the new controller
  common/communication/routes.ts
Due: none

[ref] simplified game manager routes
  server/app/controllers/game-manager.controller.ts
Due: test server, server coverage, server lint

[test] created tests for game manager controller
  server/app/controllers/game-manager.controller.spec.ts
Due: test server, server coverage, server lint

[ref] replaced calls to db by calls to game manager in client
  client/src/app/game.service.ts
  client/src/app/simple-game/simple-game.service.spec.ts
  client/src/app/simple-game/simple-game.service.ts
Due: test client, client coverage, client lint

[QA] import order
  server/app/controllers/game-manager.controller.ts
Due: test server, server coverage, server lint

[ref] removed db controller routes
  common/communication/routes.ts
Due: none

[ref] removed db controller setup
  server/app/app.ts
  server/app/inversify.config.ts
  server/app/types.ts
Due: test server, server coverage, server lint

[ref] removed db controller
  server/app/controllers/data-base.controller.spec.ts
  server/app/controllers/data-base.controller.ts
Due: test server, server coverage, server lint

[T] Mock mongo initialization before test runs
  server/app/services/data-base-service.spec.ts
  server/app/services/data-base.service.ts
Due: test server, server coverage, server lint

[UI] popup title gamelist interface
  client/src/app/game-list/game-list.component.css
  client/src/app/game-list/game-list.component.html
  client/src/app/game-list/game/game.component.css
  client/src/app/game-list/game/game.component.html
Due: test client, client coverage, client lint

[ref] removed unused delete functions in client
  client/src/app/game.service.ts
Due: test client, client coverage, client lint

[ref] removed delete routes in game manager controller
  server/app/controllers/game-manager.controller.ts
Due: test server, server coverage, server lint

[ref] removed delete tests of game manager controller
  server/app/controllers/game-manager.controller.spec.ts
Due: test server, server coverage, server lint

[ref] replaced try catch with contain in score table service
  server/app/services/score-table.service.ts
Due: test server, server coverage, server lint

[ref] added mocked answers from contains functions in tests
  server/app/services/score-table.service.spec.ts
Due: test server, server coverage, server lint

[B] Removed DELETE_GAME_BY_NAME
  client/src/app/game.service.ts
Due: test client, client coverage, client lint

[UI] icon 3D 2D modified and color change
  client/src/app/game-list/game-list.component.css
  client/src/app/game-list/game/game.component.css
  client/src/app/game-list/game/game.component.html
  client/src/styles.css
Due: test client, client coverage, client lint

[UI] game list view and admin view rework finished
  client/src/app/game-list/game/game.component.css
  client/src/app/initial-view/initial-view.component.css
  client/src/app/vue-admin/vue-admin.component.css
Due: test client, client coverage, client lint

[UI] admin view last modification
  client/src/app/vue-admin/vue-admin.component.css
Due: test client, client coverage, client lint

[UI] game list view margin last modif
  client/src/app/game-list/game-list.component.css
Due: test client, client coverage, client lint

[Test] Fix StaticInjectorError after add SocketService to GameComponent
  client/src/app/game-list/game/game.component.spec.ts
Due: test client, client coverage, client lint

[Fix] Repaired import path on SceneRenderer and SimpleGameService
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/simple-game/simple-game.service.ts
Due: test client, client coverage, client lint

[Dev] Added fetch rooms to GameComponent
  client/src/app/game-list/game-list.component.ts
  client/src/app/game-list/game/game-button-enum.ts
  client/src/app/game-list/game/game.component.ts
Due: test client, client coverage, client lint

[D] put magic numbers inside const
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
Due: test client, client coverage, client lint

[D] adapted collision to consider modified scene
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[ref] replaced every isSolo boolean by a GameType enum
  client/src/app/diff-counter/diff-counter.component.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
  common/communication/messages/message.ts
  common/model/game/game.ts
  server/app/controllers/controller-utils.ts
  server/app/controllers/score-table.controller.spec.ts
  server/app/controllers/score-table.controller.ts
  server/app/services/score-table.service.spec.ts
  server/app/services/score-table.service.ts
  server/app/services/websocket/chat-websocket-action.service.spec.ts
  server/app/services/websocket/chat-websocket-action.service.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.spec.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[QA] Fixed server lint [skip-ci]
  server/app/model/socket/userSocket.ts
  server/app/services/websocket/rooms/simple-game-room.spec.ts
Due: test server, server coverage, server lint

[D] Added PUSH socket event
  common/communication/socket-events.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[ref] separated tryGetTableFromDB into two legit functions
  server/app/services/score-table.service.ts
Due: test server, server coverage, server lint

[ref] rename of GameType to OnlineType
  client/src/app/diff-counter/diff-counter.component.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
  common/communication/messages/message.ts
  common/model/game/game.ts
  server/app/controllers/controller-utils.ts
  server/app/controllers/score-table.controller.spec.ts
  server/app/services/score-table.service.spec.ts
  server/app/services/score-table.service.ts
  server/app/services/websocket/chat-websocket-action.service.spec.ts
  server/app/services/websocket/chat-websocket-action.service.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.spec.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[Dev] Added fetch rooms to GameComponent
  client/src/app/game-list/game/game.component.ts
  client/src/app/game-list/game/room.service.spec.ts
  client/src/app/game-list/game/room.service.ts
Due: test client, client coverage, client lint

Path conditions:
  test client: any of: .gitlab-ci.yml, client/**/*
  test server: any of: .gitlab-ci.yml, server/**/*
  client coverage: any of: .gitlab-ci.yml, client/**/*
  server coverage: any of: .gitlab-ci.yml, server/**/*
  client lint: any of: .gitlab-ci.yml, client/**/*
  server lint: any of: .gitlab-ci.yml, server/**/*
