Repository RLamousse/DrawingDuel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test client, test server, client coverage, server coverage, client lint, server lint

test client:
  stage: test
  script: yarn test
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci

test server:
  stage: test
  script: yarn test
  before_script:
  - cd server
  - npm ci

client coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - client/coverage

server coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  before_script:
  - cd server
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - server/coverage

client lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd client
  - npm ci

server lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd server
  - npm ci

[Dev] Added room checkout by default in game-list
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[Test] Fixed static injector error in game-list tests
  client/src/app/game-list/game-list.component.spec.ts
Due: test client, client coverage, client lint

[other] Test lint on GameComponent
  client/src/app/game-list/game/game.component.ts
Due: test client, client coverage, client lint

[Test] Added tests to GameComponent
  client/src/app/game-list/game/game.component.spec.ts
Due: test client, client coverage, client lint

[Dev] Implemented start on all ready mechanism
  client/src/app/room.service.ts
Due: test client, client coverage, client lint

[other] Fixed import path after move (refactor)
  client/src/app/room.service.spec.ts
Due: test client, client coverage, client lint

[UI] background changes + message non alphanumeric change
  client/src/app/message-box/message-box.component.css
  client/src/app/play-view/play-view.component.css
  client/src/app/play-view/play-view.component.html
  client/src/app/scene-creator/scene-creator.component.css
  client/src/app/scene-creator/scene-creator.component.html
  client/src/app/username.service.spec.ts
  client/src/app/username.service.ts
Due: test client, client coverage, client lint

[lint+ test ] all files pass linting + tests ok
  client/src/app/initial-view/initial-view.component.spec.ts
  client/src/app/initial-view/initial-view.component.ts
Due: test client, client coverage, client lint

[Test] 100% coverage on client's RoomService
  client/src/app/room.service.spec.ts
Due: test client, client coverage, client lint

[other] Import ordering [skip-ci]
  client/src/app/room.service.ts
Due: test client, client coverage, client lint

[dev] fixedmerge conflict
  client/src/app/game-list/game-list.component.html
Due: test client, client coverage, client lint

[dev] changed the separator as a constant
  client/src/app/game-list/game/game.component.ts
Due: test client, client coverage, client lint

[dev] combined the two boolean for one
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[dev] added catch on promises in game service
  client/src/app/game.service.ts
Due: test client, client coverage, client lint

[test] added success test in form post service specs
  client/src/app/form-post.service.spec.ts
Due: test client, client coverage, client lint

[DevOps] Updated codecov threshold and disabled CI coverage artifacts
  .gitlab-ci.yml
  codecov.yml
Due: test client, test server, client coverage, server coverage, client lint, server lint

[DevOps] Disabled codecov threshold
  codecov.yml
Due: none

[ref] removed every instance of http client from imports
  client/src/app/app.component.spec.ts
  client/src/app/app.module.ts
  client/src/app/form-post.service.spec.ts
  client/src/app/game-list/game/delete-game-form/delete-game-form.component.spec.ts
  client/src/app/game-list/game/reset-game-form/reset-game-form.component.spec.ts
  client/src/app/game.service.spec.ts
  client/src/app/initial-view/initial-view.component.spec.ts
  client/src/app/vue-admin/vue-admin.component.spec.ts
Due: test client, client coverage, client lint

[Fix] Changed references to PlayerCount -> OnlineType
  client/src/app/game-list/game/game.component.ts
  client/src/app/room.service.spec.ts
  client/src/app/room.service.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
  common/communication/messages/message.ts
  common/model/game/game.ts
  server/app/controllers/controller-utils.ts
  server/app/services/websocket/chat-websocket-action.service.spec.ts
  server/app/services/websocket/chat-websocket-action.service.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
  server/app/services/websocket/update-game-scores-websocket-action.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[test] added test for notify game deletion
  client/src/app/await-view/await-view.component.spec.ts
Due: test client, client coverage, client lint

[dev] added test for sendDeleteMessage
  client/src/app/game-list/game/delete-game-form/delete-game-form.component.spec.ts
Due: test client, client coverage, client lint

[fix] changed sendDeleteMessage print
  client/src/app/game-list/game/delete-game-form/delete-game-form.component.spec.ts
Due: test client, client coverage, client lint

[Fix] Fixed imports in hotel-room.service tests
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
Due: test server, server coverage, server lint

[other] [bleeding edge] A try to use ws to validate differences[skip-ci]
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
  client/src/app/simple-game/simple-game.service.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[Dev] Used WebsocketMessage to send error instead of only error
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[dev] added queryDeleteion success message
  server/app/services/db/collection.service.ts
  server/app/services/db/free-games.collection.service.ts
  server/app/services/db/simple-games.collection.service.ts
Due: test server, server coverage, server lint

[dev] added delete function with query filter
  server/app/services/db/collection.service.ts
Due: test server, server coverage, server lint

[dev] Deleting games with toBeDeleted flag on server start
  server/app/services/data-base.service.ts
Due: test server, server coverage, server lint

[test] added tests for delete with query
  server/app/services/db/free-games.collection.service.spec.ts
  server/app/services/db/simple-games.collection.service.spec.ts
Due: test server, server coverage, server lint

[ref] rename of deleteSelected to deleteDocumentWithQuery
  server/app/services/data-base.service.ts
  server/app/services/db/collection.service.ts
  server/app/services/db/free-games.collection.service.spec.ts
  server/app/services/db/simple-games.collection.service.spec.ts
Due: test server, server coverage, server lint

[ref] made TO_BE_DELETED_FILTER_QUERY publicly accessible
  server/app/services/data-base.service.ts
  server/app/services/db/free-games.collection.service.spec.ts
  server/app/services/db/simple-games.collection.service.spec.ts
Due: test server, server coverage, server lint

[ref] renamed routes of gameManager to be more explicit
  client/src/app/game.service.ts
  client/src/app/simple-game/simple-game.service.spec.ts
  client/src/app/simple-game/simple-game.service.ts
  common/communication/routes.ts
  server/app/controllers/game-manager.controller.spec.ts
  server/app/controllers/game-manager.controller.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[ref] rename routes to more legitimate names
  common/communication/routes.ts
  server/app/controllers/game-manager.controller.ts
Due: test server, server coverage, server lint

[dev] added route to get only not deleted games from data-base
  client/src/app/game.service.ts
  common/communication/routes.ts
  server/app/controllers/game-manager.controller.ts
  server/app/services/data-base.service.ts
  server/app/services/db/collection.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[fix]added error to componentError when trying to render if no canvas found
  client/src/app/scene-creator/FreeGameCreator/free-game-creator.service.spec.ts
  client/src/app/scene-creator/scene-creator.component.ts
  common/errors/component.errors.ts
Due: test client, client coverage, client lint

[fix]changed while to an if to check if must call recursive or not
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[fix]added newline to make the code more readable
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
Due: test client, client coverage, client lint

[fix]added return type to improved code comprehension for raycastColl
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[D] simpllified cancelVelocity logic, added 2 function
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
Due: test client, client coverage, client lint

[fix]improved performance, only raycst in diff if no collision in ori
  client/src/app/scene-creator/objectCollisionService/object-collision.service.ts
Due: test client, client coverage, client lint

Path conditions:
  test client: any of: .gitlab-ci.yml, client/**/*
  test server: any of: .gitlab-ci.yml, server/**/*
  client coverage: any of: .gitlab-ci.yml, client/**/*
  server coverage: any of: .gitlab-ci.yml, server/**/*
  client lint: any of: .gitlab-ci.yml, client/**/*
  server lint: any of: .gitlab-ci.yml, server/**/*
