Repository RLamousse/DrawingDuel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test client, test server, client coverage, server coverage, client lint, server lint

.gitlab-ci.yml:

# ╔═══════════╗
# ║ Variables ║
# ╚══════════╝
variables:
  CODECOV_TOKEN: "1edf15e3-19b5-420b-a54a-35fac689ef0c"
image: node


# ╔════════╗
# ║ Stages ║
# ╚════════╝

stages:
  - test
  - deep-test

# ╔═════════════╗
# ║ Stage: Test ║
# ╚═════════════╝

# Test job template
.test:
  stage: test
  script: yarn test
  except:
    - merge_requests
    - dev

test client:
  extends: .test
  image: trion/ng-cli-karma
  before_script:
    - cd client
    - npm ci
  only:
    changes:
      - .gitlab-ci.yml
      - client/**/*


test server:
  extends: .test
  before_script:
    - cd server
    - npm ci
  only:
    changes:
      - .gitlab-ci.yml
      - server/**/*

# ╔══════════════════╗
# ║ Stage: deep-test ║
# ╚══════════════════╝

.deep test:
  stage: deep-test

# Coverage job template
.coverage:
  extends: .deep test
  script:
    - yarn coverage
    - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/

client coverage:
  extends: .coverage
  image: trion/ng-cli-karma
  before_script:
    - cd client
    - npm ci
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - .gitlab-ci.yml
      - client/**/*
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
      - client/coverage

server coverage:
  extends: .coverage
  before_script:
    - cd server
    - npm ci
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - .gitlab-ci.yml
      - server/**/*
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
      - server/coverage

# Lint report job template
.lint:
  extends: .deep test
  script: yarn lint

client lint:
  extends: .lint
  before_script:
    - cd client
    - npm ci
  only:
    refs:
      - merge_requests
      - master
    changes:
      - .gitlab-ci.yml
      - client/**/*

server lint:
  extends: .lint
  before_script:
    - cd server
    - npm ci
  only:
    refs:
      - merge_requests
      - master
    changes:
      - .gitlab-ci.yml
      - server/**/*

[D] Cleaned up getAll calls
  server/app/controllers/game-manager.controller.ts
  server/app/services/data-base.service.ts
  server/app/services/db/collection.service.ts
Due: test server, server coverage, server lint

[D] Always get lite games!
  client/src/app/game-list/game-list.component.spec.ts
  client/src/app/game-list/game-list.component.ts
  client/src/app/game.service.spec.ts
  client/src/app/game.service.ts
  client/src/app/vue-admin/vue-admin.component.html
  client/src/app/vue-admin/vue-admin.component.ts
Due: test client, client coverage, client lint

[D] DataBaseService is now a singleton
  server/app/inversify.config.ts
Due: test server, server coverage, server lint

[B] Replaced contains call with documentCountWithQuery
  server/app/services/db/collection.service.ts
  server/app/services/db/free-games.collection.service.ts
  server/app/services/db/simple-games.collection.service.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[T] Fixed collection services tests
  server/app/services/db/collection.service.ts
  server/app/services/db/free-games.collection.service.spec.ts
  server/app/services/db/simple-games.collection.service.spec.ts
Due: test server, server coverage, server lint

[T] Added deletion check tests for hotel room service
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
Due: test server, server coverage, server lint

[T] Set photo service WAIT_TIME to 0 in tests
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.spec.ts
Due: test client, client coverage, client lint

[QA] Added @ts-ignore justification
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.spec.ts
Due: test client, client coverage, client lint

[DevOps] Optimized server prod dockerfile
  Dockerfile.server
  server/package.json
Due: test server, server coverage, server lint

[fix] erreur de francais
  client/src/app/vue-admin/vue-admin.component.html
Due: test client, client coverage, client lint

[dev] added imports
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[dev] added constructor of router
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[dev] added reload runction
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[test] added providers and imports for test for router
  client/src/app/game-list/game-list.component.spec.ts
Due: test client, client coverage, client lint

[dev] added html element for reload and home button plus their routes
  client/src/app/game-list/game-list.component.html
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[dev] added css for new buttons
  client/src/app/game-list/game-list.component.css
Due: test client, client coverage, client lint

[R] clean packages
  client/package-lock.json
  client/package.json
  server/package-lock.json
Due: test client, test server, client coverage, server coverage, client lint, server lint

[DevOps] fallback to node image for client build
  Dockerfile.client
Due: none

[R] removed package-lock changes in server
  server/package-lock.json
Due: test server, server coverage, server lint

[D] Cleanup server package*.json
  server/package-lock.json
  server/package.json
Due: test server, server coverage, server lint

[Dev] Subscription cleanup on destroy of GameList
  client/src/app/game-list/game-list.component.ts
Due: test client, client coverage, client lint

[D] Cleanup client package*.json
  client/package-lock.json
  client/package.json
Due: test client, client coverage, client lint

[D] Titre du jeu
  client/src/app/game-list/game-list.component.html
Due: test client, client coverage, client lint

[R] Updated README
  README.md
Due: none

[R] Fix my french 🥖🇫🇷
  README.md
Due: none

[R] Update README.md
  README.md
Due: none

[Dev] Added css class for the loader
  client/src/app/scene-creator/scene-creator.component.css
Due: test client, client coverage, client lint

[Dev]Added loader to HTML+handling of loader logic
  client/src/app/scene-creator/scene-creator.component.html
Due: test client, client coverage, client lint

[Dev]Added static loading time to prevent sync problems
  client/src/app/scene-creator/scene-creator.component.ts
Due: test client, client coverage, client lint

[B] Fix join button not updated
  client/src/app/game-list/game-list.component.ts
  client/src/app/room.service.ts
Due: test client, client coverage, client lint

[Dev]Adjusted load time from 2sec to 1.5sec
  client/src/app/scene-creator/scene-creator.component.ts
Due: test client, client coverage, client lint

[Test]Added 1 test to check if it is subbed to game start(and pewdiepie)
  client/src/app/await-view/await-view.component.spec.ts
Due: test client, client coverage, client lint

[Test]Diff counter actual tests
  client/src/app/diff-counter/diff-counter.component.spec.ts
Due: test client, client coverage, client lint

[Test]Added tests to room service (also new mini burgers)
  client/src/app/room.service.spec.ts
Due: test client, client coverage, client lint

[Dev] Actually reset the right array to 0 this time
  client/src/app/room.service.ts
Due: test client, client coverage, client lint

[tEsT] tHe ImPoRt OrDeR iS vErY iMpOrTaNt YoU kNoW
  client/src/app/diff-counter/diff-counter.component.spec.ts
Due: test client, client coverage, client lint

Pinned Dockerfile.server builder to node 11
  Dockerfile.server
Due: none

Pinned Dockerfile.client builder to node 11
  Dockerfile.client
Due: none

Updated mongo cluster url to archival cluster
  server/config/default.json
Due: test server, server coverage, server lint

Pinned CICD pipeline to node 11 and ng-cli-karma:7.3.9
  .gitlab-ci.yml
Due: test client, test server, client coverage, server coverage, client lint, server lint
