Repository RLamousse/DrawingDuel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test client, test server, client coverage, server coverage, client lint, server lint

test client:
  stage: test
  script: yarn test
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci

test server:
  stage: test
  script: yarn test
  before_script:
  - cd server
  - npm ci

client coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  image: trion/ng-cli-karma
  before_script:
  - cd client
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - client/coverage

server coverage:
  stage: deep-test
  script:
  - yarn coverage
  - yarn codecov
  coverage: /Lines\s+:\s*(\d+(?:\.\d*)?%)\s+\(\s+\d+\/\d+\s+\)/
  before_script:
  - cd server
  - npm ci
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
    - server/coverage

client lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd client
  - npm ci

server lint:
  stage: deep-test
  script: yarn lint
  before_script:
  - cd server
  - npm ci

[other] Added TODO to remember to sub to kick out of room
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[Dev]Added multiplayer counter logic+multiplayer game ending
  client/src/app/diff-counter/diff-counter.component.ts
Due: test client, client coverage, client lint

[D]modified gamePhotoService to take photo on creation
  client/src/app/create3-dgame/create3-dgame.component.ts
  client/src/app/game-list/game-list.component.ts
  client/src/app/game.service.ts
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.ts
  common/model/game/free-game.ts
  server/app/services/db/free-games.collection.service.spec.ts
  server/app/services/db/free-games.collection.service.ts
  server/app/services/diff-validator-3D.service.spec.ts
  server/app/services/game-creator.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[B] Fixed merge request bugs and updated package-lock.json
  client/package-lock.json
  client/src/app/await-view/await-view.component.ts
  client/src/app/dialog-utils.ts
  client/src/app/game-list/game/game.component.spec.ts
  client/src/app/game-list/game/game.component.ts
  client/src/app/username.service.spec.ts
Due: test client, client coverage, client lint

[Test] Fixed Static Injection
  client/src/app/diff-counter/diff-counter.component.spec.ts
  client/src/app/timer/timer.component.spec.ts
Due: test client, client coverage, client lint

[Test] Fixed types to match new implementation
  client/src/app/simple-game/simple-game.service.spec.ts
Due: test client, client coverage, client lint

[B]removed snoop loading hiding the real image
  client/src/app/game-list/game/game.component.ts
Due: test client, client coverage, client lint

[T] Fixed component cleanup error
  client/src/app/diff-counter/diff-counter.component.spec.ts
  client/src/app/diff-counter/diff-counter.component.ts
  client/src/app/scene-creator/scene-renderer.service.spec.ts
Due: test client, client coverage, client lint

[T] Fixed diff counter cleanup error
  client/src/app/diff-counter/diff-counter.component.ts
Due: test client, client coverage, client lint

[D]removed useless onInit implementation of gameComponent
  client/src/app/game-list/game/game.component.ts
Due: test client, client coverage, client lint

[D]made renderer and divElement to private, only one when creating games
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.ts
Due: test client, client coverage, client lint

[D] Removed unused route parameters
  client/src/app/await-view/await-view.component.ts
  client/src/app/play-view/play-view.component.html
  client/src/app/play-view/play-view.component.ts
  client/src/app/timer/timer.component.ts
Due: test client, client coverage, client lint

[D] Linked scene-renderer.service to diff-counter.component multiplayer counter
  client/src/app/diff-counter/diff-counter.component.ts
  client/src/app/scene-creator/scene-creator.component.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/util/client-utils.ts
Due: test client, client coverage, client lint

[B] Removed gameType attribute of app-timer in scene-creator component
  client/src/app/scene-creator/scene-creator.component.html
Due: test client, client coverage, client lint

[B] Fixed Congratulation Dialog
  client/src/app/diff-counter/diff-counter.component.ts
Due: test client, client coverage, client lint

[QA] Removed unused dialog code
  client/src/app/diff-counter/diff-counter.component.ts
Due: test client, client coverage, client lint

[D] Sending 3D raycast errors to room for broadcast
  client/src/app/scene-creator/scene-diff-validator.service.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  common/communication/messages/message.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[T] Updated scene-renderer.service tests since raycast errors are sent to the server
  client/src/app/scene-creator/scene-renderer.service.spec.ts
Due: test client, client coverage, client lint

[QA] Client lint
  client/src/app/diff-counter/diff-counter.component.spec.ts
  client/src/app/diff-counter/diff-counter.component.ts
  client/src/app/game-list/game/game.component.ts
  client/src/app/scene-creator/scene-diff-validator.service.spec.ts
  client/src/app/scene-creator/scene-renderer.service.ts
  client/src/app/simple-game/simple-game-container/simple-game-container.component.ts
  client/src/app/util/client-utils.ts
  client/src/app/vue-admin/vue-admin.component.ts
  common/model/game/game.ts
Due: test client, client coverage, client lint

[QA] Server lint
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[T]added test to freeGamePhotoService, coverage 100
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.spec.ts
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.ts
  client/src/app/scene-creator/scene-creator.component.spec.ts
Due: test client, client coverage, client lint

[T]added mockFreeGamePhoto Service to create3DGame
  client/src/app/create3-dgame/create3-dgame.component.spec.ts
  client/src/app/create3-dgame/create3-dgame.component.ts
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.spec.ts
Due: test client, client coverage, client lint

[B] Fixed undefined initiatedBy field
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test server, server coverage, server lint

[B] Changed RoomInteractionErrorMessage to string
  client/src/app/scene-creator/scene-diff-validator.service.ts
  common/communication/messages/message.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[B] Create a fresh promise for each validation
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[T] Use last registerDifferenceErrorCallback in scene renderer interact tests
  client/src/app/scene-creator/scene-renderer.service.spec.ts
Due: test client, client coverage, client lint

[Dev] Now using SceneDiffValidatorService to update the counter
  client/src/app/diff-counter/diff-counter.component.ts
Due: test client, client coverage, client lint

[Dev] Fixed double time records uploads+predicat for player win status
  client/src/app/diff-counter/diff-counter.component.ts
Due: test client, client coverage, client lint

[Dev] Fixed methods being called still undefined
  client/src/app/scene-creator/scene-diff-validator.service.ts
Due: test client, client coverage, client lint

[Dev] Added counter update to the SceneDiffValidatorService
  client/src/app/scene-creator/scene-diff-validator.service.ts
Due: test client, client coverage, client lint

[D] Added kick dialog and normalized dialog LaF
  client/src/app/app.module.ts
  client/src/app/await-view/game-deletion-notif/game-deletion-notif.component.css
  client/src/app/await-view/game-deletion-notif/game-deletion-notif.component.html
  client/src/app/diff-counter/end-game-notif/end-game-notif.component.html
  client/src/app/game-list/game/delete-game-form/delete-game-form.component.css
  client/src/app/game-list/game/delete-game-form/delete-game-form.component.html
  client/src/app/game-list/game/reset-game-form/reset-game-form.component.css
  client/src/app/game-list/game/reset-game-form/reset-game-form.component.html
  client/src/app/kick-dialog/kick-dialog.component.css
  client/src/app/kick-dialog/kick-dialog.component.html
  client/src/app/kick-dialog/kick-dialog.component.spec.ts
  client/src/app/kick-dialog/kick-dialog.component.ts
  client/src/app/scene-creator/scene-creator.component.ts
Due: test client, client coverage, client lint

[Dev]Removed diffCounter update+check if diff was found by player
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[T] Added angular material providers for kick-dialog.component tests
  client/src/app/kick-dialog/kick-dialog.component.spec.ts
Due: test client, client coverage, client lint

[UI] Added margin to OK button in game end dialog
  client/src/app/diff-counter/end-game-notif/end-game-notif.component.css
Due: test client, client coverage, client lint

[T] Fixed creation tests affected by diff-counter OnInit subscription
  client/src/app/diff-counter/diff-counter.component.spec.ts
  client/src/app/play-view/play-view.component.spec.ts
  client/src/app/timer/timer.component.html
  client/src/app/timer/timer.component.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
Due: test client, test server, client coverage, server coverage, client lint, server lint

[D] Privatized roomReadyEmitInformation field and used it as onReady callback parameter
  server/app/model/room/game-room.ts
  server/app/services/websocket/rooms/abstract-game-room.ts
  server/app/services/websocket/rooms/hotel-room.service.spec.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
  server/app/services/websocket/rooms/simple-game-room.ts
Due: test server, server coverage, server lint

[QA] Linted client
  client/src/app/diff-counter/diff-counter.component.spec.ts
  client/src/app/kick-dialog/kick-dialog.component.spec.ts
  client/src/app/scene-creator/scene-creator.component.ts
  client/src/app/scene-creator/scene-renderer.service.ts
Due: test client, client coverage, client lint

[B]fixed test where sync callback in test took too long
  client/src/app/create3-dgame/create3-dgame.component.spec.ts
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.spec.ts
  client/src/app/scene-creator/free-game-photo-service/free-game-photo.service.ts
Due: test client, client coverage, client lint

[D] Rooms no longer kick players when they leave at the end of the game
  server/app/services/websocket/rooms/abstract-game-room.ts
  server/app/services/websocket/rooms/free-game-room.ts
  server/app/services/websocket/rooms/hotel-room.service.ts
  server/app/services/websocket/rooms/simple-game-room.ts
Due: test server, server coverage, server lint

[Dev]Added RoomNotDefinedError class
  common/errors/services.errors.ts
Due: none

Path conditions:
  test client: any of: .gitlab-ci.yml, client/**/*
  test server: any of: .gitlab-ci.yml, server/**/*
  client coverage: any of: .gitlab-ci.yml, client/**/*
  server coverage: any of: .gitlab-ci.yml, server/**/*
  client lint: any of: .gitlab-ci.yml, client/**/*
  server lint: any of: .gitlab-ci.yml, server/**/*
